/* These are the approved styles for the site */


body {
    font-family: arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(245, 219, 204);
    background-color: rgb(57, 82, 171);
}

li {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}

a {
    color: rgb(234, 192, 174);
    text-decoration: none;
}

a:hover {
    color: rgb(237, 205, 191);
    text-decoration: underline;
    font-weight: bold;
}

a.visited {
    color: rgb(45, 77, 223);
}

.resumeListHeading {
    font-weight: bold;
    font-style: normal;
}

.underline {
    text-decoration: underline;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.justify {
    text-align: justify;
}

.homebg {
    background-image: url('images/backgrounddd.jpeg');
    background-position: bottom center;
    background-repeat: repeat /* Chrome version */;
}

/* These styles were created just to demonstrate the Box model */

.box1 {
    border: solid 2px rgb(24, 61, 94);
    border-bottom: dotted 3 px rgb(181, 20, 20);
}

.box2 {
    padding: 5px;
}
.box3 {
    margin: 5px;
}

.box4 {
    padding-left: 10px;
    margin: 100px;
    border: solid 5px white;

}
.form-control::file-selector-button {
    padding: 0.375rem 0.75rem;
    margin: -0.375rem -0.75rem;
    -webkit-margin-end: 0.75rem;
            margin-inline-end: 0.75rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}